doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title tatasurya

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h2 Tata Surya
        h3.bullet Pengertian Tata Surya
        ul 
          li Tata Surya adalah kumpulan benda-benda langit yang terdiri dari sebuah bintang besar yang disebut matahari, dan semua objek yang terikat oleh gaya grafitasinya. Objek-objek tersebut adalah delapan buah planet yang sudah diketahui dengan orbit berbentuk elips, lima planet kerdil, 173 satelit alami yang telah diidentifikasi, dan jutaan benda langit (meteor, asteroid, komet) lainnya. 
        ul
          li Tata Surya (Solar System) atau yang juga disebut keluarga matahari (The sun and its family) adalah suatu sistem yang teridiri dari Matahari sebagai pusar Tata li Surya itu dan di kelilingi dengan planet-planet, komet (bintang berekor), meteor (bintang beralih), satelit, dan asteroid.

      section
        h3 SEJARAH PENEMUAN TATA SURYA
        ul.bullet
          li Lima planet terdekat ke matahari selain Bumi (Merkurius, Venus, Mars, Yupiter dan Saturnus) telah dikenal sejak zaman dahulu, karena mereka semua bisa dilihat dengan mata telanjang. Banyak bangsa di dunia ini memiliki nama sendiri untuk masing-masing planet.
          li Perkembangan ilmu pengetahuan dan teknologi pengamatan pada lima abad lalu membawa manusia untuk memahami benda-benda langit terbebas dari selubung mitologi. Galileo Galilei (1564-1642) dengan teleskop refraktornya mampu menjadikan mata manusia “lebih tajam” dalam mengamati benda langit yang tidak bisa diamati dengan mata telanjang.

      section
        h3 SEJARAH PENEMUAN TATA SURYA
        ul.bullet
          li Karena Teleskop Galileo bisa mengamati lebih tajam, ia bisa melihat berbagai perubahan bentuk penampakan Venus, seperti Venus Sabit atau Venus Purnama sebagai akibat perubahan posisi Venus terhadap matahari. Pennalaran Venus mengitari matahari makin memperkuat teori heliosentris, yaitu bahwa Matahari adalah pusat alam semesta, bukan Bumi, yang sebelumnya digagas oleh Nicolas Copernicus (1473-1543). Susunan heliosentris adalah Matahari dikelilingi oleh Merkurius hingga Saturnus.
          li Teleskop Galileo terus disempurnakan oleh Ilmuwan lain seperti Christian Huygens (1629-1695) yang menemukan Titan, Satelit Saturnus, yang berada hampir dua kali orbit Bumi-Yupiter.
          
      section
        h3 SEJARAH PENEMUAN TATA SURYA
        ul.bullet
          li Perkembangan teleskop juga diimbangi pula dengan perkembangan perhitungan gerak benda-benda langit dan hubungan satu dengan yang lain melalui Johannes Kepler (1571-1630) dengan Hukum Kepler, dan Puncaknya Sir Isaac Newton (1642-1727) dengan hukum gravitasi. Dengan dua teori perhitungan inilah yang memungkinkan pencarian dan perhitungan benda-benda langit selanjutnya.
          li Pada 1781, William Herschel (1738-1822) menemukan Uranus. Perhitungan cermat orbit Uranus menyimpulkan bahwa planet ini ada yang mengganggu. Sehingga pada 1846 ditemukan Neptunus, namun penemuan Neptunus ini tidak dapat menjelaskan secara sempurna pengganggu Uranus. Kemudian pada tahun 1930 ditemukan sebuah planet lain yang diberi nama Pluto, namun lisensinya sebagai planet sudah beberapa tahun dicabut.

      section
        h3 ANGGOTA TATA SURYA
        h4 1.MATAHARI
        ul.bullet
          li Matahari adalah bintang induk tata surya dan merupakan komponen utama sistem tata surya ini.
          li Bintang ini berukuran 332.830 massa bumi. Massa yang besar ini menyebabkan kepadatan inti yang cukup besar untuk bisa mendukung kesinambungan fusi nuklir dan menyemburkan sejumlah energi yang dahsyat. 
          li Kebanyakan energi ini dipancarkan ke luar angkasa dalam bentuk radiasi elektromagnetik, termasuk spektrum optik.
        h4 Planet-planet
        ul.bullet
          li Merkurius, Venus, Bumi, Mars, Yupiter dan lainnya
      
      section
        h3.bullet Merkurius
        ul
          li Merkurius adalah planet dalam yang terkecil dan termasuk paling dekat dengan Matahari, jarak rata-rata ke matahari 58 juta Km, dan memiliki garis tengah 4.880 Km
          li Merkurius tidak mengandung atmosfer, suhu disekitar planet berkisar antara 200 C-400 C. Gravitasi merkurius kurang lebih hanya sepertiga kali gravitasi bumi.
          li Mirip dengan Bulan, Merkurius mempunyai banyak kawah dan juga tidak mempunyai satelit alami serta atmosfer.
          li kala revolusi 88 hari dan kala rotasi 59 hari.


      section
        h3.bullet Venus
        ul
          li Planet ini merupakan planet terdekat dengan bumi, ia memiliki garis tengah sepanjang 12.104 Km
          li Jarak rata-rata ke Matahari 106 Km, periode revolusinya 224 hari, gravitasi venus 2300 dan tekanan udaranya 20 atmosfer (20 kali tekanan udara di bumi), permukaan Venus ditutupi awan tebal sehingga mencapai 48 Km
          li Yang menarik hasil pengamatan beberapa pesawat ruang angkasa terdapat formasi batuan muda dan pegunungan tua, atmosfernya berwujud debu kering yang meliputi CO2, N, dan O2.
          li Venus adalah planet terdekat kedua dari Matahari setelah Merkurius. Planet ini mengorbit Matahari selama 224,7 hari Bumi.
          li planet ini merupakan objek alami tercerah di langit malam

      section
        h3 Bumi
        ul
          li Bumi adalah planet ketiga dari Matahari yang merupakan planet terpadat dan terbesar kelima dari delapan planet dalam Tata Surya. 
          li Bumi juga merupakan planet terbesar dari empat planet kebumian Tata Surya. 
          li Bumi terkadang disebut dengan dunia atau Planet Biru.
          li Bumi adalah tempat tinggal bagi jutaan makhluk hidup, termasuk manusia. 
          li Sumber daya mineral Bumi dan produk-produk biosfer lainnya bersumbangsih terhadap penyediaan sumber daya untuk mendukung populasi manusia global. 
          li Wilayah Bumi yang dihuni manusia dikelompokkan menjadi 200 negara berdaulat, yang saling berinteraksi satu sama lain melalui diplomasi, pelancongan, perdagangan, dan aksi militer.

      section
        h3 Mars
        ul
          li Mars adalah planet terdekat keempat dari Matahari.
          li Mars dilihat dari lintasnnya antara Bumi dan Matahari juga termasuk planet yang terdekat dengan Bumi, jarak rata-rata planet Mars dengan Matahari 228 Km, beredar mengelilingi Matahari dalam waktu 687 hari, waktu rotasinya 24 jam 37 menit 21 detik.
          li Planet ini memiliki 2 buah satelit, yaitu :
            li Phobos
            li Deimos
          li Planet ini mengorbit selama 687 hari dalam mengelilingi Matahari. Planet ini juga berotasi. Kala rotasinya 25,62 jam.

      section
        h3 Yupiter
        ul
          li Yupiter merupakan planet terbesar, ia memiliki diameter 130.000 Km.
          li arak rata-rata ke matahari kurang lebih sekitar 778 juta Km, dan struktur yupiter hampir sama dengan struktur matahari, yang kebanyakan terdiri dari hidrogen serta campurannya, yaitu NH3, Amoniak, Helium, dan Metan.

      section
        h3 Saturnus
        ul
          li Planet saturnus planet kedua terbesar setelah Yupiter, jarak rata-rata ke matahari kurang lebih 1.426 Km, jangka revolusi planet ini adalah 29,5 tahun dan waktu yang diperlukan untuk berputar pada sumbunya adalah 10 jam.
          li Saturnus memiliki 17 satelit, dan beberapa yang paling menonjol adalah Titan, Tethys, Rea, Dione, dan tiga cincin indah.
          li ketiga cincin tersebbut dapat diurai sebagai berikut:
            li 1. Cincin A merupakan cincin luar yang garis tengahnya 260.000 Km.
            li 2. Cincin B merupakan cincin tengah yang memiliki diameter sekitar 152.000 Km.
            li 3. Cincin C merupakan cincin yang garis tengahnya 160.000 Km.

      section
        h3 Uranus
        ul
          li Uranus memiliki jarak rata-rata dengan matahari sekitar 2.869 juta Km, beredar mengelilingi Matahari dalam waktu 84 tahun dengan kecepatan rotasi 11 jam.
          li Planet ini berdiameter 49.700 Km, pada planet ini ditemukan unsur helium, hidrogen dan metan.
          li Planet ini mempunyai lima satelit, yaitu Miranda, Ariel, Umbriel, Titania, dan Oberon.
          li Keistimewaan planet ini adalah letak sumbu rotasinya sebidang dengan bidang revolusinya, pada uranus, matahari bergeser dari utara ke selatan dalam periode revolusinya.

      section
        h3 <b>Neptunus</b>
        ul
          li Planet Neptunus adalah planet yang terjauh dengan matahari, jaraknya sekitar 4.495 juta Km dengan matahari, dan beredar mengelilingi matahari dalam waktu 165 Tahun. Waktu rotasinya 15 jam.
          li Satelit yang dimiliki Neptunus ada dua, yaitu Triton yang berdiameter 4.000 Km, mempunyai atmosfer, dan bentuknya mirip pluto, sedangkan Nereid diameternya 2000 Km, letaknya lebih jauh dari bumi bila dibandingkan dengan triton.

      section
        h3 <b>Galaksi</b>
        ul
          li Galaksi adalah sebuah sistem masif yang terikat gaya gravitasi yang terdiri atas bintang (dengan segala bentuk manifestasinya, antara lain bintang neutron dan lubang hitam), gas dan debu medium antarbintang, dan materi gelap–komponen yang penting namun belum begitu dimengerti.
          li Kata galaksi berasal dari bahasa Yunani galaxias, yang berarti "seperti susu," yang merujuk pada galaksi Bima Sakti (bahasa Inggris: Milky Way ).
      section
        <a><img src="C:\tatasurya\src\nKhmwmRaJ6.JPEG"></a>

      section
        h3 <b>GALAKSI ANDROMDEA</b>


      section
        ul
          li Galaksi Andromeda merupakan galaksi yang terdekat dengan galaksi kita yaitu galaksi bimasakti.
          li Jaraknya sekitar 2,5 juta tahun cahaya.
          li Galaksi ini disebut juga dengan M31, NGC 224 atau Messier 31.
          li Galaksi ini dapat dilihat langsung tanpa alat bantu jika diamati pada malam yang bersih dan gelap gulita.
          li Galaksi ini berada sekitar 410 si sebelah utara bagian khatulistiwa dan tampak sangat baik diamati pada bulan September, Oktober, dan November.
          li Berdasarkan pengamatan para astronom tahun 2010, menyatakan bahwa M31 terbentuk dari gabungan dua galaksi yang lebih kecil pada 5 atau 9 milyar tahun lalu.
          li Sumber lain menyatakan bahwa Andromeda telah lahir sejak 10 milyar tahun yang lalu dari gabungan protogalaksi yang lebih kecil.
          
      section
        ul
          li Sama halnya dengan galaksi Bimasakti , Andromeda juga memiliki galaksi yang terdiri dari 14 galaksi kerdil.
          hr
          li Galaksi-galaksi lain yang kecil diantaranya yang mudah untuk diamati adalah M32 dan M10.
          hr
          li Andromeda is the nearest major galaxy to our own Milky Way Galaxy.
          hr
          li Our Galaxy is thought to look much like Andromeda.
          hr
          li Together these two galaxies dominate the Local Group of galaxies.

      section
        h3 <b>Tipe, Jenis, dan Bentuk Galaksi </b>
        ul
          li Galaksi dapat dikelompokkan dalam tiga jenis utama: eliptik, spiral dan irregular
          li Karena sistem klasifikasi Hubble hanya berdasarkan pada pengamatan visual, klasifikasi ini mungkin melewatkan beberapa karakteristik penting dari galaksi, seperti laju pembentukan bintang (di galaksi starburst) dan aktivitas inti galaksi (di galaksi aktif).

      section
        h3 <b>Eliptik</b>
        ul
          li istem klasifikasi Hubble membedakan galaksi eliptik berdasarkan tingkat keelipsannya, dari E0 yang hampir berupa lingkaran, hingga E7 yang sangat lonjong.
          li galaksi tersebut memiliki bentuk dasar elipsoid, sehingga tampak elips dari berbagai sudut pandang.
          li galaksi tipe ini tampak memiliki sedikit struktur dan sedikit materi antar bintang, sehingga galaksi tersebut memiliki sedikit gugus terbuka dan laju pembentukan bintang yang lambat.
          li galaksi tipe ini didominasi oleh bintang yang berumur tua yang mengorbit pusat gravitasi dengan arah yang acak. Dalam hal tersebut, galaksi tipe ini mirip dengan gugus bola.

      section
        h3 <b>Eliptik</b>
        ul
          li Banyak galaksi besar yang berbentuk eliptik. Banyaknya galaksi berbentuk eliptik dipercaya terbentuk karena interaksi antar galaksi menghasilkan tabrakan dan penggabungan.
          li galaksi dapat tumbuh menjadi besar (misalnya jika dibandingkan dengan galaksi spiral), galaksi eliptik raksasa sering ditemukan didekat inti dari kelompok galaksi besar.
          li galaksi starburst merupakan akibat dari tabrakan antar galaksi dan dapat menghasilkan pembentukan galaksi eliptik.

      section
        h3 <b>Spiral</b>
        ul
          li Galaksi spiral terdiri dari piringan berupa bintang dan materi antar bintang yang berotasi, serta gembung pusat yang terdiri dari bintang-bintang tua. Terdapat lengan spiral yang menjulur dari gembung pusat.
          li Dalam sistem klasifikasi Hubble, galaksi spiral ditandai sebagai tipe S, diikuti huruf (a, b, atau c) yang menunjukkan tingkat kerapatan dari lengan spiral dan ukuran dari gembung pusat. Galaksi Sa memiliki lengan spiral yang kurang jelas dan membelit secara rapat, serta gembung pusat yang relatif besar. Sedangkan galaksi Sc memiliki lengan spiral yang terbuka dan gembung pusat yang relatif kecil.
          li Sebagian besar galaksi spiral memiliki bentuk batang linier yang memanjang ke dua sisi dari gembung inti, yang kemudian bergabung dengan struktur lengan spiral.

      section
        h3<h3>Spiral</h3>
        ul
          li Di sistem klasifikasi Hubble, galaksi ini dikategorikan sebagai SB, dan diikuti huruf (a, b atau c) yang mengindikasikan bentuk lengan spiralnya. Batang galaksi diperkirakan merupakan struktur sementara yang disebabkan oleh gelombang kejut dari inti galaksi, atau karena interaksi pasang surut dengan galaksi lain.
          li Banyak galaksi spiral berbatang yang berinti aktif, kemungkinan karena adanya gas yang menuju ke inti melalui lengan spiral.
          li Galaksi Bima Sakti merupakan galaksi spiral berbatang ukuran besar dengan diameter sekitar 30 kiloparsecs dan ketebalan sekitar satu kiloparsec. Bima Sakti memiliki sekitar 200 milyar (2×1011) bintang dengan massa total sekitar 600 juta (6×1011) kali massa Matahari.


      section
        h3<b>Jenis Galaksi Tak Beraturan</b>
        ul
          li Jenis galaksi tak beraturan yang dimaksud adalah jenis galaksi yang bentuk nya bukan eliptikal maupun spiral.
          li Pada jenis galaksi ini bentuk dari galaksi sangat bermacam-macam ada yang disebut “Dwarf” Galaksi atau galaksi cebol yang dikarenakan besar galaksi ini lebih kecil dari galaksi pada umumnya, Ring Galaksi yaitu galaksi yang bentuk nya seperti cincin yang mana ditengahnya ada pusat dari galaksi dan Lentikular galaksi dimana Bentuk dari galaksi ini merupakan perpaduan antara jenis Eliptikal dan Spiral.
          li Contoh dari jenis Dwarf Galaksi adalah M110, Ring Galaksi adalah Objek Hoag dan Lentikular galaksi adalah NGC 5866.HG

      section
        h3<b>Grand Spiral Galaxy</b>
        ul
          li Grand Spiral Galaxy juga dikenal sebagai NGC 123, galaksi yang menakjubkan ini didominasi oleh jutaan bintang terang dan gelap debu, terperangkap dalam pusaran gravitasi lengan spiral berputar di sekitar pusat.
          li Open cluster yang berisi bintang-bintang biru terang dapat dilihat ditaburkan di sepanjang lengan spiral ini, sementara jalur gelap debu antarbintang padat dapat dilihat ditaburkan di antara mereka. Kurang terlihat, tetapi dapat dideteksi, adalah normal redup miliaran luas bintang-bintang dan gas antar bintang, bersama-sama memegang massa yang tinggi seperti mereka mendominasi dinamika galaksi batin.
          li nvisible adalah jumlah lebih besar materi dalam bentuk yang kita belum tahu – meresap materi gelap yang diperlukan untuk menjelaskan gerakan yang terlihat di luar galaksi.

      section
        h3<b>The Whirlpool Galaxy</b>
        ul
          li The Whirlpool Galaxy juga dikenal sebagai Messier 51A, M51a, atau NGC 5194, Pusaran Air Galaxy adalah sebuah grand-design berinteraksi galaksi spiral yang terletak pada jarak sekitar 23 juta tahun cahaya di konstelasi Tongkat Venatici.
          li Ini adalah salah satu spiral galaksi paling terkenal di langit. Galaksi dan pendamping (NGC 5195) yang mudah diamati oleh astronom amatir, dan kedua galaksi bahkan dapat dilihat dengan teropong.
          li The Whirlpool Galaxy juga merupakan target yang populer astronom profesional, yang mempelajari ke galaksi lebih memahami struktur (terutama struktur yang terkait dengan lengan spiral) dan galaksi interaksi.

      section
       h3<b>Galaksi Black Eye</b>
       ul
         li Sebuah galaksi spiral di konstelasi Coma Berenices, Messier 64, yang terkenal “Black Eye” galaksi atau “Putri Tidur galaksi,” memiliki spektakuler band gelap menyerap debu di depan inti galaksi cerdas. Itu terkenal di kalangan astronom amatir karena penampilannya di teleskop kecil.
         li Galaksi ini memiliki sebuah jalur gelap menyerap debu spektakuler di depan inti cerah galaksi, sehingga menimbulkan julukan "Mata Hitam" atau "Mata Setan".
         li Galaksi Mata Hitam (juga disebut Messier 64, M64, atau NGC 4826) ditemukan oleh Edward Pigott pada Maret 1779, dan secara independen oleh Johann Elert Bode pada bulan April tahun yang sama, serta oleh Charles Messier pada tahun 1780.
         li M64 terkenal di kalangan astronom amatir karena penampilannya di teleskop kecil. Ini adalah galaksi spiral di rasi bintang Coma Berenices.



      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild