doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title tatasurya

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h2 Tata Surya
        h4 Pengertian Tata Surya
        p.bullet Tata Surya adalah kumpulan benda-benda langit yang terdiri dari sebuah bintang besar yang disebut matahari, dan semua objek yang terikat oleh gaya grafitasinya. Objek-objek tersebut adalah delapan buah planet yang sudah diketahui dengan orbit berbentuk elips, lima planet kerdil, 173 satelit alami yang telah diidentifikasi, dan jutaan benda langit (meteor, asteroid, komet) lainnya. 
        ul
          li Tata Surya (Solar System) atau yang juga disebut keluarga matahari (The sun and its family) adalah suatu sistem yang teridiri dari Matahari sebagai pusar Tata li Surya itu dan di kelilingi dengan planet-planet, komet (bintang berekor), meteor (bintang beralih), satelit, dan asteroid.
      
      section
        h3.bullet Merkurius
        ul
          li Merkurius adalah planet dalam yang terkecil dan termasuk paling dekat dengan Matahari, jarak rata-rata ke matahari 58 juta Km, dan memiliki garis tengah 4.880 Km
          li Merkurius tidak mengandung atmosfer, suhu disekitar planet berkisar antara 200 C-400 C. Gravitasi merkurius kurang lebih hanya sepertiga kali gravitasi bumi.

      section
        h3.bullet Venus
        ul
          li Planet ini merupakan planet terdekat dengan bumi, ia memiliki garis tengah sepanjang 12.104 Km
          li Jarak rata-rata ke Matahari 106 Km, periode revolusinya 224 hari, gravitasi venus 2300 dan tekanan udaranya 20 atmosfer (20 kali tekanan udara di bumi), permukaan Venus ditutupi awan tebal sehingga mencapai 48 Km
          li Yang menarik hasil pengamatan beberapa pesawat ruang angkasa terdapat formasi batuan muda dan pegunungan tua, atmosfernya berwujud debu kering yang meliputi CO2, N, dan O2.
          li Venus adalah planet terdekat kedua dari Matahari setelah Merkurius. Planet ini mengorbit Matahari selama 224,7 hari Bumi.
          li planet ini merupakan objek alami tercerah di langit malam

      section
        h3 Bumi
        p Bumi adalah planet ketiga dari Matahari yang merupakan planet terpadat dan terbesar kelima dari delapan planet dalam Tata Surya. Bumi juga merupakan planet terbesar dari empat planet kebumian Tata Surya. Bumi terkadang disebut dengan dunia atau Planet Biru
        p Bumi adalah tempat tinggal bagi jutaan makhluk hidup, termasuk manusia. Sumber daya mineral Bumi dan produk-produk biosfer lainnya bersumbangsih terhadap penyediaan sumber daya untuk mendukung populasi manusia global. Wilayah Bumi yang dihuni manusia dikelompokkan menjadi 200 negara berdaulat, yang saling berinteraksi satu sama lain melalui diplomasi, pelancongan, perdagangan, dan aksi militer.

      section
        h2 Pengertian Tata Surya
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild